<form [formGroup]="filterForm">
    <div class="d-flex">
        <mat-form-field class="static-select w-50 mt-2" appearance="fill">
            <mat-icon matPrefix>search</mat-icon>
            <input type="text" matInput formControlName="searchByText" placeholder="Search mission...">
        </mat-form-field>
        <mat-divider [vertical]="true" />
        <mat-form-field class="static-select" appearance="fill">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId" multiple>
                <mat-option [value]="1">India</mat-option>
                <mat-option [value]="1">Canada</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider [vertical]="true" />
        <mat-form-field class="static-select" appearance="fill">
            <mat-label>City</mat-label>
            <mat-select formControlName="cityId" multiple>
                <mat-option [value]="1">Ahmedabad</mat-option>
                <mat-option [value]="2">Gandhinagar</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider [vertical]="true" />
        <mat-form-field class="static-select" appearance="fill">
            <mat-label>Theme</mat-label>
            <mat-select formControlName="themeId" multiple>
                <mat-option [value]="1">Enviroment</mat-option>
                <mat-option [value]="2">Nutrition</mat-option>

            </mat-select>
        </mat-form-field>
        <mat-divider [vertical]="true" />
        <mat-form-field class="static-select" appearance="fill">
            <mat-label>Skills</mat-label>
            <mat-select formControlName="skillId" multiple>
                <mat-option [value]="1">Dance</mat-option>
                <mat-option [value]="1">Sport</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider [vertical]="true"/>
    </div>
</form>